body {
  font-size: 8pt;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0pt;
  padding: 0pt;
  background-color: rgb(255, 128, 64);
  text-align: center;
}
div {
  width: 512px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-style: solid;
  border-color: green;
  background-color: #FFFFC8;
}
input {
  width: 200px;
  /*font-size: 20pt;*/
  font-family: Georgia, Garamond, serif;
  color: #404040;
}
h1 {
  color: rgb(164, 164, 0);
  background-color: #C8FFC8;
  font-family: Century Gothic, Futura, Verdana, sans-serif;
  text-decoration: underline;
  letter-spacing: 0.2em;
  font-size: 30pt;
  font-weight: bold;
}
canvas {
  width: 512px;
  height: auto;
  margin-top: 30px;
}