<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>TMNT - Rancid Tomatoes</title>
		<link href="movie.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="static/upload.js"></script>
		<link href="http://my.ss.sysu.edu.cn/wiki/download/attachments/7045968/rotten.gif?version=1&modificationDate=1268896385000" type="image/gif" rel="shortcut icon" />
	</head>

	<body>
		<form action="#" enctype="multipart/form-data" method="post">
			上传用户：<input type="text" name="username"><br/>
			上传文件1：<input type="file" name="img"><br/>
			<input type="submit" value="提交">
		</form>

	</body>
</html>
